/mtd*
/squashfs-root*
/ubi.ini
/ubifs.img
/build-packages
/include
/include-*
/config
/sound
/mico_*.bin
/mico_*/
/oci
/tools/mico_*_*_1.*
/firmware
*.ubi

/custom_components/**/__pycache__/

/lx01
/lx06

/test
/release

/*.log
/*.pdf
/*.htm
/*.html
/*.tar.gz
/*.tgz
