name: Build packages

on:
  workflow_call: 
    inputs:
      model:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      model:
        required: false
        default: 'LX06'
        description: Speaker model to build packages
        type: string

jobs:
  build:
    name: Build for ${{ github.event.inputs.model || inputs.model || 'LX06' }}
    if: ${{ github.repository == 'danielk117/xiaoai-patch' }}
    env:
      MODEL: ${{ github.event.inputs.model || inputs.model || 'LX06' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: packages
          tags: xiaoai-patch
          load: true
      - name: Build packages
        uses: ./
      - name: Upload packages
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ env.MODEL }}
          path: build-packages/targets/bin-*.tar.gz
